<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='des2.css') }}">
    <title>Resume Ranker</title>
</head>
<body>
    <div class="container">
        <h1>Resume Ranker</h1>
        <form method="POST">
    <label for="job_description">Job Description</label>
    <textarea id="job_description" name="job_description" required></textarea>
    <button type="submit">Submit</button>
</form>
    </div>

</body>
</html>
